body.centralizando {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.navbarzinha {
    background-color: #85b6ca;
}
.jumbotron {
    background-color: #9ec9db;
    padding: 100px;
    margin-bottom: 60px;
}
.text-color {
    color: #fff;
}
.btn-secondary{
    background-color: #E3B1C9;
    border-color: #ad6286;
}
.btn-secondary:hover{
    background-color: #ad6286;
    border-color: #ad6286;
}
.col-lg-3{
    text-align: center;
}
.seletor{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.org{
    justify-content: center;
    align-items: center;
}


